<div class="container">
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div>
    <mz-input-container>
      <input mz-input mz-validation email required
             type="email"
             [(ngModel)]="user.email"
             [errorMessageResource]="errorMessageResources.email"
             [label]="'Email'"
             name="email"
             id="email"
             >
    </mz-input-container>
  </div>
  <div>
    <mz-input-container>
      <input mz-input mz-validation required
             type="password"
             [(ngModel)]="user.password"
             [errorMessageResource]="errorMessageResources.password"
             [label]="'Password'"
             name="password"
             id="password"
      >
    </mz-input-container>
  </div>
  <div>
  <mz-select-container class="full-width">
    <select mz-select placeholder="Select type of account" [(ngModel)]="typeOfAccunt" name="typeOfAccount" required>
        <option>Student/Graduate</option>
        <option>Company</option>
    </select>
  </mz-select-container>
  </div>
  <button mz-button type="submit" >Submit</button>
</form>
</div>
