<form (ngSubmit) = loginUser(myForm) #myForm="ngForm">
  <mat-form-field [ngClass]="{'mat-input-invalid mat-form-field-invalid': error && focus}">
    <input matInput placeholder="Email" [(ngModel)]="userModel.email" #emailFormControl="ngModel" name="email">
  </mat-form-field>
  <mat-form-field class="middle" [ngClass]="{'mat-input-invalid mat-form-field-invalid': error && focus}">
    <input matInput placeholder="Password" type="password" [(ngModel)]="userModel.password" #passwordFormControl="ngModel" name="password">
  </mat-form-field>
  <button mat-button type="submit" id="subButton" (focus)="focus = true" (blur)="focus = false">Submit</button>
</form>
