<form class="form-inline" (ngSubmit) = loginUser(myForm) #myForm="ngForm">
  <div class="form-group">

    <input type="email" class="form-control" placeholder="Email" name="email" id="email" [(ngModel)]="userModel.email" [ngClass]="{'is-invalid': error }" #emailVal="ngModel" required>
  </div>
  <div class="form-group mx-sm-3">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="userModel.password" [ngClass]="{'is-invalid': error }" required >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
