<form #myForm="ngForm" (submit)="loginUser(myForm)">
  <mz-input-container class="col s12 l4 xl4">
    <input mz-input
           placeholder="Email"
           type="email"
           [(ngModel)]="userModel.email"
           name="email"
           id="emailHeader"/>
  </mz-input-container>

  <mz-input-container class="col s12 l4 xl4">
    <input mz-input
           placeholder="Password"
           type="password"
           [(ngModel)]="userModel.password"
           name="password"
           id="passwordHeader"/>
  </mz-input-container>

  <mz-input-container class="col s12 l4 xl4 center-align">
    <!--hidden input for submitting form by pressing enter-->
    <input type="submit" style="display: none;">
    <a type="button" (click)="loginUser(myForm)">Submit</a>
  </mz-input-container>
</form>


