<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleFormControlFile1">Poster input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
      <label for="header">Header</label>
      <input class="form-control" id="header" placeholder="This is header" name="header" [(ngModel)]="model.header">
    </div>
    <div class="form-group">
      <label for="paragraph">News content</label>
      <textarea class="form-control" id="paragraph" rows="3" name="paragraph" [(ngModel)]="model.paragraph"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
