<div class="container">
  <div class="row-fluid">
    <app-header></app-header>
  </div>
  <div class="row-fluid">
    <!--<app-spinner></app-spinner>-->
    <router-outlet></router-outlet>
  </div>
</div>

<!--<footer>-->
<!--&lt;!&ndash; Piwik &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--var _paq = _paq || [];-->
<!--_paq.push(['trackPageView']);-->
<!--_paq.push(['enableLinkTracking']);-->
<!--(function() {-->
<!--var u="//stats22.mydevil.net/";-->
<!--_paq.push(['setTrackerUrl', u+'piwik.php']);-->
<!--_paq.push(['setSiteId', '16']);-->
<!--var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];-->
<!--g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);-->
<!--})();-->
<!--</script>-->
<!--<noscript><p><img src="//stats22.mydevil.net/piwik.php?idsite=16" style="border:0;" alt="" /></p></noscript>-->
<!--&lt;!&ndash; End Piwik Code &ndash;&gt;-->
<!--</footer>-->

