<form (ngSubmit)="onSubmit()">
  <mz-input-container>
    <input mz-input
           type="text"
           id="searchTerm"
           [(ngModel)]="searchTerm"
           name="searchTerm"
           placeholder="Search term"
           (keyup)="searchTerms.next([$event.target.value,selectedCategory])">
  </mz-input-container>
  <mz-input-container>
    <select mz-select id="selectedCategory"
            [(ngModel)]="selectedCategory"
            name="selectedCategory"
            (ngModelChange)="searchTerms.next([searchTerm,selectedCategory])">
      <option *ngFor="let cat of categories">{{cat}}</option>
    </select>
  </mz-input-container>
</form>
  <div class="row">
    <div class="col s12 m6 l6 xl6" *ngFor="let off of offers">
      <app-offer-preview [offerData]="off"></app-offer-preview>
    </div>
  </div>


