<form (ngSubmit)="onSubmit()">
  <mz-input-container>
    <input mz-input
           type="text"
           id="searchTerm"
           [(ngModel)]="searchTerm"
           name="searchTerm"
           placeholder="Search term"
           (keyup)="searchTerms.next([$event.target.value,selectedCategory])">
  </mz-input-container>

  <!--not using ng2-materialize tags because animations are not working with nested child-->
  <div class="input-field">
    <select materialize="material_select"
            id="selectedCategory"
            [(ngModel)]="selectedCategory"
            (ngModelChange)="searchTerms.next([searchTerm,selectedCategory])"
            name="selectedCategory">
      <option *ngFor="let cat of categories">{{cat}}</option>
    </select>
    <label>Select category</label>
  </div>
</form>
  <div class="row">
    <div class="col s12 m6 l6 xl6" *ngFor="let off of offers">
      <app-offer-preview [id]="off.id"
                         [category]="off.category"
                         [title]="off.title"
                         [description]="off.description">
      </app-offer-preview>
    </div>
  </div>


