<div class="newsPreview" *ngFor="let news of pagedItems">
  <app-news-preview [newsData]="news"></app-news-preview>
</div>
<div>
  <!-- pager -->
  <mz-navbar>
    <mz-navbar-item-container *ngIf="pager.pages && pager.pages.length">
      <mz-navbar-item [ngClass]="{disabled:pager.currentPage === 1}" >
        <a (click)="setPage(1)" >First</a>
      </mz-navbar-item>
      <mz-navbar-item [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </mz-navbar-item>
      <mz-navbar-item *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </mz-navbar-item>
      <mz-navbar-item [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)" >Next</a>
      </mz-navbar-item>
      <mz-navbar-item [ngClass]="{disabled:pager.currentPage === pager.totalPages}" >
        <a (click)="setPage(pager.totalPages)">Last</a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</div>
