<div class="container" *ngIf="type === 'news'">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload poster">
      </div>
    </div>
    <mz-input-container >
      <input mz-input mz-validation id="header" [label]="'Header'" placeholder="This is header" name="header" [errorMessageResource]="errorMessageResources.header" [(ngModel)]="newsModel.header">
    </mz-input-container>
    <mz-textarea-container>
      <textarea mz-textarea mz-validation id="paragraph" rows="3" name="paragraph" [(ngModel)]="newsModel.paragraph" [errorMessageResource]="errorMessageResources.paragraph" [label]="'News content'" placeholder="News content"></textarea>
    </mz-textarea-container>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="container" *ngIf="type === 'offers'">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mz-input-container>
      <input mz-input mz-validation id="title" [label]="'Title'" placeholder="This is title" name="title" [errorMessageResource]="errorMessageResources.title" [(ngModel)]="offerModel.title" required>
    </mz-input-container>

    <!--not using ng2-materialize tags because animations are not working with nested child-->
    <div class="input-field">
      <select materialize="material_select" id="category" [(ngModel)]="offerModel.category" name="category">
        <option *ngFor="let cat of categories">{{cat}}</option>
      </select>
      <label>Select category</label>
    </div>

    <mz-textarea-container>
      <textarea mz-textarea mz-validation [label]="'Description'" placeholder="Offer description" id="description" rows="3" name="description" [errorMessageResource]="errorMessageResources.description" [(ngModel)]="offerModel.description" required></textarea>
    </mz-textarea-container>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
