<nav>
  <div class="nav-wrapper">
    <ul id="slide-out" class="side-nav">
      <li><a href="#" routerLink="/" >Start</a></li>
      <li><a routerLink="/offers">Offers</a></li>
      <li>
        <a *ngIf="!(isLoggedIn | async)" id="registrationSide"
           routerLink="/registration">Registration</a>
        <a *ngIf="(typeOfUser | async).includes('emp') || (typeOfUser | async).includes('admin')"
            id="editorSide" routerLink="/offers/editor">Add offer</a>
      </li>
      <li>
        <a routerLink="/news/editor" *ngIf="(typeOfUser | async).includes('admin')">News editor</a>
      </li>
      <li>
        <a routerLink="/news/editor" *ngIf="(typeOfUser | async).includes('admin')">News editor</a>
      </li>
      <div *ngIf="!(isLoggedIn | async)">
        <li><a routerLink="/login">Login</a></li>
      </div>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#" routerLink="/">Start</a></li>
      <li><a routerLink="/offers">Offers</a></li>
      <li>
        <a *ngIf="!(isLoggedIn | async)" [@linkAnimation]="!(isLoggedIn | async)" id="registration"
           routerLink="/registration">Registration</a>
        <a *ngIf="(typeOfUser | async).includes('emp') || (typeOfUser | async).includes('admin')"
           [@linkAnimation]="(isLoggedIn | async)" id="editor" routerLink="/offers/editor">Add offer</a>
      </li>
      <li>
        <a routerLink="/news/editor" *ngIf="(typeOfUser | async).includes('admin')"
           [@linkAnimation]="(isLoggedIn | async)">News editor</a>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li *ngIf="!(isLoggedIn | async)" [@linkAnimation]="!(isLoggedIn | async)">
        <app-login-header></app-login-header>
      </li>
    </ul>

    <ul id="profile" *ngIf="(isLoggedIn | async)" [@linkAnimation]="(isLoggedIn | async)">
      <li><a routerLink="/profile">Profile</a></li>
      <li><a type="button" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</nav>

