<div class="container-fluid">
  <mz-card>
    <div class="card-header">
      <ul class="nav nav-pills">
      <mz-card-title >
        {{category}}
      </mz-card-title>
        <li class="nav-item">
          <button [routerLink]="['/offers/editor', id]" type="button" class="btn btn-primary mx-3">Edit</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary">Primary</button>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <p class="card-text">{{description}}</p>
    </div>
  </mz-card>
</div>
