
  <mz-card>
      <mz-card-title >
        <h6>{{category}}</h6>
      </mz-card-title>

    <mz-card-content>
      <h4 class="card-title">{{title}}</h4>
      <p class="card-text">{{description}}</p>
    </mz-card-content>
    <mz-card-action>
      <div *ngIf="userId === offerUserId">
      <button [routerLink]="['/offers/editor', id]" type="button" class="btn btn-primary mx-3">Edit</button>
      <button (click)="removeOffer()" type="button" class="btn btn-primary mx-3">Remove</button>
      </div>
    </mz-card-action>
  </mz-card>

