  <div class="col s10">
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <mz-input-container>
      <input mz-input mz-validation email required
             type="email"
             [(ngModel)]="user.email"
             [errorMessageResource]="errorMessageResources.email"
             [label]="'Email'"
             name="email"
             id="email"
      >
    </mz-input-container>

  <!--<div class="form-group">-->
    <!--<label for="inputPassword">Password</label>-->
    <!--<input type="password" class="form-control" name ="inputPassword" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" [disabled]="disable" required minlength="4" #inputPasswordVal="ngModel">-->
    <!--<div *ngIf="inputPasswordVal.invalid && (inputPasswordVal.dirty || inputPasswordVal.touched)"-->
         <!--class="alert alert-danger">-->
      <!--<div *ngIf="inputPasswordVal.errors.required">-->
        <!--Password is required.-->
      <!--</div>-->
      <!--<div *ngIf="inputPasswordVal.errors.minlength">-->
        <!--Password must be at least 4 characters long.-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <mz-input-container *ngIf="type == 'emp'">
    <input mz-input mz-validation minlength="2"
           type="text"
           [(ngModel)]="user.name"
           [errorMessageResource]="errorMessageResources.companyName"
           [label]="'Company name'"
           name="companyName"
           id="companyName"
    >
  </mz-input-container>
  <mz-input-container  *ngIf="type == 'person'">
    <input mz-input mz-validation minlength="2"
           type="text"
           [(ngModel)]="user.firstName"
           [errorMessageResource]="errorMessageResources.firstName"
           [label]="'First name'"
           name="firstName"
           id="firstName"
    >
  </mz-input-container>
  <mz-input-container  *ngIf="type == 'person'">
    <input mz-input mz-validation minlength="2"
           type="text"
           [(ngModel)]="user.lastName"
           [errorMessageResource]="errorMessageResources.lastName"
           [label]="'Last name'"
           name="lastName"
           id="lastName"
    >
  </mz-input-container>

  <mz-textarea-container>
    <textarea mz-textarea [label]="'CV text'" placeholder="Cv text" id="cvText" rows="3" name="cvText" [(ngModel)]="user.cv"></textarea>
  </mz-textarea-container>
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload poster">
    </div>
  </div>
  <button type="submit"  class="btn btn-primary" [disabled]="!form.form.valid">Submit</button>
</form>
  </div>

