<!--<div class="container">-->
<!--<form (ngSubmit)="onSubmit(form)" #form="ngForm">-->
  <!--<div class="form-group">-->
    <!--<label for="inputEmail">Email</label>-->
    <!--<input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email" [(ngModel)]="user.email" [disabled]="disable" required minlength="4" #inputEmailVal="ngModel">-->
    <!--<div *ngIf="inputEmailVal.invalid && (inputEmailVal.dirty || inputEmailVal.touched)"-->
         <!--class="alert alert-danger">-->
    <!--<div *ngIf="inputEmailVal.errors.required">-->
      <!--Name is required.-->
    <!--</div>-->
      <!--<div *ngIf="inputEmailVal.errors.minlength">-->
        <!--Name must be at least 4 characters long.-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputPassword">Password</label>-->
    <!--<input type="password" class="form-control" name ="inputPassword" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" [disabled]="disable" required required minlength="4" #inputPasswordVal="ngModel">-->
    <!--<div *ngIf="inputPasswordVal.invalid && (inputPasswordVal.dirty || inputPasswordVal.touched)"-->
         <!--class="alert alert-danger">-->
      <!--<div *ngIf="inputPasswordVal.errors.required">-->
        <!--Password is required.-->
      <!--</div>-->
      <!--<div *ngIf="inputPasswordVal.errors.minlength">-->
        <!--Password must be at least 4 characters long.-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group" *ngIf="type == 'emp'">-->
    <!--<label for="inputCompanyName">Company name</label>-->
    <!--<input type="text" class="form-control" name ="inputCompanyName" id="inputCompanyName" placeholder="Company name" [(ngModel)]="user.name" [disabled]="disable" required required minlength="2" #inputCompanyName="ngModel">-->
    <!--<div *ngIf="inputCompanyName.invalid && (inputCompanyName.dirty || inputCompanyName.touched)"-->
         <!--class="alert alert-danger">-->
      <!--<div *ngIf="inputCompanyName.errors.required">-->
        <!--First name is required.-->
      <!--</div>-->
      <!--<div *ngIf="inputCompanyName.errors.minlength">-->
        <!--First name must be at least 2 characters long.-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group" *ngIf="type == 'person'">-->
    <!--<label for="inputFirstName">First name</label>-->
    <!--<input type="text" class="form-control" name ="inputFirstName" id="inputFirstName" placeholder="First name" [(ngModel)]="user.firstName" [disabled]="disable" required required minlength="2" #inputFirstNameVal="ngModel">-->
    <!--<div *ngIf="inputFirstNameVal.invalid && (inputFirstNameVal.dirty || inputFirstNameVal.touched)"-->
         <!--class="alert alert-danger">-->
      <!--<div *ngIf="inputFirstNameVal.errors.required">-->
        <!--First name is required.-->
      <!--</div>-->
      <!--<div *ngIf="inputFirstNameVal.errors.minlength">-->
        <!--First name must be at least 2 characters long.-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group" *ngIf="type == 'person'">-->
    <!--<label for="inputLastName">Last name</label>-->
    <!--<input type="text" class="form-control" name ="inputLastName" id="inputLastName" placeholder="Last name" [(ngModel)]="user.lastName" [disabled]="disable" required required minlength="2" #inputLastName="ngModel">-->
    <!--<div *ngIf="inputLastName.invalid && (inputLastName.dirty || inputLastName.touched)"-->
         <!--class="alert alert-danger">-->
      <!--<div *ngIf="inputLastName.errors.required">-->
        <!--Last name is required.-->
      <!--</div>-->
      <!--<div *ngIf="inputLastName.errors.minlength">-->
        <!--Last name must be at least 2 characters long.-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="cvDescription">Opis CV</label>-->
    <!--<textarea class="form-control" id="cvDescription" rows="6" name="cvDescription" [(ngModel)]="user.cv"></textarea>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlFile1">Plik CV</label>-->
    <!--<input type="file" class="form-control-file" id="exampleFormControlFile1">-->
  <!--</div>-->
  <!--<button type="button" (click)="disable = !disable" class="btn btn-primary">Edit</button>-->
  <!--<button type="submit"  class="btn btn-primary" [disabled]="!form.form.valid">Submit</button>-->
<!--</form>-->
<!--</div>-->
