<!--<ul id="tabs-swipe-demo" class="tabs">-->
  <!--<li class="tab col s6" routerLinkActive="active"><a class="active" routerLink="/profile" >Profile information</a></li>-->
  <!--<li class="tab col s6"><a routerLink="/profile/offers">Your offers</a></li>-->
<!--</ul>-->
  <div class="col s2 collection">
  <ul>
    <li><a class="collection-item" routerLink="/profile" >Profile information</a></li>
    <li><a class="collection-item" routerLink="/profile/offers">Your offers</a></li>
  </ul>
  </div>
    <router-outlet></router-outlet>

